# Copyright (c) 2023-2024, NVIDIA CORPORATION.

[build-system]
build-backend = "setuptools.build_meta"
requires = [
    "setuptools",
    "wheel",
]

[project]
name = "rapids-dask-dependency"
version = "24.04.00a0"
description = "Dask and Distributed version pinning for RAPIDS"
dependencies = [
    "dask==2024.1.1",
    "distributed==2024.1.1",
    "dask-expr==0.4.0",
]
license = { text = "Apache 2.0" }
readme = { file = "README.md", content-type = "text/markdown" }

[tool.setuptools]
license-files = ["LICENSE"]

[tool.setuptools.packages.find]
include = ["rapids_dask_dependency*"]

[tool.ruff]
lint.select = ["E", "F", "W", "I", "N", "UP"]
lint.fixable = ["ALL"]
